In [ ]:
# Import python packages
import streamlit as st
import pandas as pd

# We can also use Snowpark for our analyses!
from snowflake.snowpark.context import get_active_session
session = get_active_session()

In [ ]:
-- Welcome to Snowflake Notebooks!
-- Try out a SQL cell to generate some data.
SELECT 'FRIDAY' as SNOWDAY, 0.2 as CHANCE_OF_SNOW
UNION ALL
SELECT 'SATURDAY',0.5
UNION ALL 
SELECT 'SUNDAY', 0.9;

In [ ]:
# Then, we can use the python name to turn cell2 into a Pandas dataframe
my_df = cell2.to_pandas()

# Chart the data
st.subheader("Chance of SNOW ‚ùÑÔ∏è")
st.line_chart(my_df, x='SNOWDAY', y='CHANCE_OF_SNOW')

# Give it a go!
st.subheader("Try it out yourself and show off your skills ü•á")

In [ ]:
# Then, we can use the python name to turn cell2 into a Pandas dataframe
# Import python packages
import streamlit as st
import pandas as pd

my_df = cell2.to_pandas()

# Chart the data
st.subheader("Chance of SNOW ‚ùÑÔ∏è")
st.line_chart(my_df, x='SNOWDAY', y='CHANCE_OF_SNOW')

# Give it a go!
st.subheader("Try it out yourself and show off your skills ü•á")

In [ ]:
#-- Welcome to Snowflake Notebooks!
# Create table using the pandas

#creating the dataframe using the dictonary.
import pandas as pd

data = { 'Name' : ['Prajwal','Suyog','Shreyash','Pradyumn','Abhijit','Yash'],
         'Gender' : ['Male','Male','Male','Male','Male','Male']
}

df = pd.DataFrame(data)

print(df)